<!DOCTYPE html>
<html lang="en">

<body>
    <div class="topNav">
        <div class="topNavLeft">
            <mat-form-field>
                <input matInput type="text" name="searchInput" placeholder="search contacts"
                    (keyup)="onSearchContacts($event)">
            </mat-form-field>
        </div>

        <div class="topNavRight">
            <label>grouping</label>
            <mat-slide-toggle (click)="toggleGrouping()"></mat-slide-toggle>
        </div>
    </div>

    <ag-grid-angular id="myGrid" style="height: 100%; width: 100%;" class="ag-theme-balham" [rowData]="rowData"
        [columnDefs]="columnDefs" [gridOptions]="gridOptions" rowSelection="multiple" (gridReady)="onGridReady($event)">
    </ag-grid-angular>
</body>

</html>